snippet for2 	"for 2"
for (int i = 0; i < 10; i++) {
	for (int j = 0; j < 10; j++) {
	}
}	
endsnippet

snippet for3 "for 3"
for (int i = 0; i < 10; i++) {
	for (int j = 0; j < 10; j++) {
		for (int k = 0; k < 10; k++) {
		}
	}
}
endsnippet

snippet cmain "main"
public class Main {
	public static void main(String[] args) {
		System.out.println("Hello World!");
	}
}
endsnippet
